<div class="row">
  <div class="col-1">
    <app-side-navbar></app-side-navbar>
  </div>

  <div class="col mar">
    <div class="container1">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <img src="../../assets/images/user_new.jpeg" alt="" />
        </div>
        <div class="col"></div>
      </div>

      <div>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">View Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Personal settings</a>
          </li>
        </ul>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
