<div class="row">
  <div class="col-1 bg-darkd side-navbar">
    <div class="row">
      <div class="col"></div>
      <div class="col-4 bord">
        <!-- <a class="deco-a" id="deco-a" routerLink="/home"
          ><i [ngStyle]="{ color: iconColor }" (click)="changeColor()"
            ><fa-icon [icon]="faHouse"></fa-icon></i></a
        ><br /><br /> -->

        <a class="deco-a" routerLink="/home"
          ><i class="bi bi-house-door-fill"></i>
          <span class="home-text">Home</span></a
        ><br /><br />

        <a class="deco-a" routerLink="/services"
          ><i class="bi bi-boxes"></i>
          <span class="home-text">Services</span></a
        ><br /><br />

        <a class="deco-a" routerLink="/self-service"
          ><i class="bi bi-person-fill-gear"></i>
          <span class="home-text">Self-Service</span></a
        ><br /><br />

        <a class="deco-ac" routerLink="/contact"
          ><i><fa-icon [icon]="faAddressBook"></fa-icon></i>
          <span class="home-text">Contact</span></a
        ><br /><br />

        <a class="deco-a" routerLink="/my-profile"
          ><i class="bi bi-person-circle"></i>
          <span class="home-text">Profile</span></a
        ><br /><br />
        <a class="deco-a" routerLink="/my-profile"
          ><i class="bi bi-calendar-minus"></i>
          <span class="home-text">Leave Tracker</span></a
        ><br /><br />
        <a class="deco-a" routerLink="/my-profile" (click)="logout()"
          ><i class="bi bi-box-arrow-right"></i>
          <span class="home-text">Logout</span></a
        ><br />
      </div>
      <!-- <div class="col mt-5">
        <br /><a class="deco-a" routerLink="/home">Home</a><br />
        <br /><a class="deco-a" routerLink="/my-profile">My Profile</a><br />
        <br /><a class="deco-a" routerLink="/leave">Leave Tracker</a><br />
        <br /><a class="deco-a" routerLink="/contact">Contact</a><br />
        <br /><a class="deco-a" (click)="logout()">Logout</a><br />
        <br /><a class="deco-a"> <i class="fa-duotone fa-house"></i> </a><br />
      </div> -->

      <div class="col"></div>
    </div>
  </div>
  <!-- <div class="col-9">
  </div> -->
</div>
